Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is a structured collection of data that is organized and managed to allow for efficient access, retrieval, and manipulation of data. It serves as a centralized repository for storing and managing structured, semi-structured, or unstructured data.

**SQL (Structured Query Language) Databases:**
1. **Structure:** SQL databases are structured databases that use a tabular schema consisting of rows and columns to organize and store data.
2. **Schema:** SQL databases have a predefined schema that defines the structure and relationships between different tables.
3. **Examples:** Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, and SQLite.
4. **ACID Transactions:** SQL databases typically support ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring data integrity and consistency.
5. **Scalability:** SQL databases are generally vertically scalable, meaning they can handle increased workload by adding more resources (CPU, memory) to the existing server.

**NoSQL (Not Only SQL) Databases:**
1. **Structure:** NoSQL databases are non-relational databases that use flexible data models such as key-value pairs, documents, columnar, or graph-based structures to store and manage data.
2. **Schema:** NoSQL databases are schema-less or have a dynamic schema, allowing for more flexibility in data storage without predefined schemas.
3. **Examples:** Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, Redis, and Amazon DynamoDB.
4. **Scalability:** NoSQL databases are generally horizontally scalable, meaning they can handle increased workload by adding more servers to the database cluster.
5. **CAP Theorem:** NoSQL databases often prioritize availability and partition tolerance over consistency, adhering to the CAP (Consistency, Availability, Partition tolerance) theorem.

**Differences:**
- **Data Model:** SQL databases use a structured, tabular data model, whereas NoSQL databases offer a variety of flexible data models.
- **Schema:** SQL databases have a predefined schema, whereas NoSQL databases are schema-less or have a dynamic schema.
- **Scalability:** SQL databases are typically vertically scalable, while NoSQL databases are horizontally scalable.
- **ACID Transactions:** SQL databases support ACID transactions, while NoSQL databases may offer eventual consistency or weaker consistency models.
- **Use Cases:** SQL databases are suitable for applications with complex queries and transactions, whereas NoSQL databases are often used for real-time analytics, caching, content management, and handling large volumes of unstructured data.

In summary, SQL databases offer strong consistency and structured data storage, whereas NoSQL databases provide flexibility, scalability, and performance for handling large volumes of diverse data types. The choice between SQL and NoSQL databases depends on the specific requirements and characteristics of the application.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of database objects such as tables, indexes, views, and constraints. DDL statements are used to create, modify, and delete database objects, thereby defining the database schema.

Here's a brief explanation of DDL statements and their usage:

1. **CREATE:** The CREATE statement is used to create new database objects such as tables, indexes, views, or constraints.

   Example: Creating a new table named `employees` with columns `id`, `name`, and `salary`.
   ```sql
   CREATE TABLE employees (
       id INT PRIMARY KEY,
       name VARCHAR(100),
       salary DECIMAL(10, 2)
   );
   ```

2. **DROP:** The DROP statement is used to delete existing database objects such as tables, indexes, views, or constraints.

   Example: Dropping the `employees` table.
   ```sql
   DROP TABLE employees;
   ```

3. **ALTER:** The ALTER statement is used to modify the structure of existing database objects, such as adding, modifying, or dropping columns in a table.

   Example: Adding a new column `department` to the `employees` table.
   ```sql
   ALTER TABLE employees
   ADD COLUMN department VARCHAR(100);
   ```

4. **TRUNCATE:** The TRUNCATE statement is used to remove all rows from a table, but the table structure and its metadata remain intact.

   Example: Truncating the `employees` table to remove all existing data.
   ```sql
   TRUNCATE TABLE employees;
   ```

These DDL statements are essential for managing the schema of a database and defining its structure according to the requirements of the application. They allow database administrators and developers to create, modify, and delete database objects efficiently, ensuring data integrity and consistency.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in the database. DML statements are primarily concerned with querying and modifying the data within database tables. The main DML statements include INSERT, UPDATE, DELETE, and SELECT.

Here's an explanation of INSERT, UPDATE, and DELETE statements along with examples:

1. **INSERT:** The INSERT statement is used to add new rows of data into a table.

   Example: Inserting a new record into the `employees` table.
   ```sql
   INSERT INTO employees (id, name, salary)
   VALUES (1, 'John Doe', 50000);
   ```

   In this example, a new row is added to the `employees` table with the specified values for the `id`, `name`, and `salary` columns.

2. **UPDATE:** The UPDATE statement is used to modify existing data in a table.

   Example: Updating the salary of an employee with id 1 in the `employees` table.
   ```sql
   UPDATE employees
   SET salary = 55000
   WHERE id = 1;
   ```

   In this example, the salary of the employee with id 1 is updated to 55000.

3. **DELETE:** The DELETE statement is used to remove rows from a table based on specified conditions.

   Example: Deleting an employee with id 1 from the `employees` table.
   ```sql
   DELETE FROM employees
   WHERE id = 1;
   ```

   In this example, the employee with id 1 is deleted from the `employees` table.

These DML statements are essential for manipulating data within database tables, allowing users to insert, update, and delete records as needed to maintain the integrity and consistency of the data stored in the database.

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary DQL statement is SELECT, which is used to fetch data from one or more tables in a database.

Here's an explanation of the SELECT statement along with an example:

**SELECT:** The SELECT statement is used to retrieve data from one or more tables in a database. It allows users to specify the columns they want to retrieve, as well as filter, sort, and aggregate the data based on specified conditions.

Example: Retrieving all columns from the `employees` table.
```sql
SELECT * FROM employees;
```

In this example:
- `SELECT` is the keyword used to start the SELECT statement.
- `*` is a wildcard symbol that selects all columns from the table.
- `FROM employees` specifies the table from which data is retrieved.

The result of the SELECT statement will be a set of rows and columns from the `employees` table, containing all the data stored in the table.

Additionally, the SELECT statement can be customized to retrieve specific columns, apply conditions using WHERE clause, sort the result set using ORDER BY clause, and perform aggregate functions like COUNT, SUM, AVG, etc. This allows users to tailor their queries to fetch the exact data they need from the database.

Q5. Explain Primary Key and Foreign Key.

Ans: Primary Key and Foreign Key are both key concepts in relational database design, used to establish and maintain relationships between tables.

**Primary Key:**
- A Primary Key is a column or set of columns in a table that uniquely identifies each record in the table.
- It must contain unique values, and no two rows can have the same primary key value.
- Primary Keys are used to enforce entity integrity, ensuring that each record in the table is uniquely identifiable.
- In most database systems, Primary Keys are automatically indexed to optimize search and retrieval performance.
- Typically, the Primary Key is defined when the table is created using the CREATE TABLE statement.
- Examples of Primary Keys include employee IDs, customer IDs, order numbers, etc.

**Foreign Key:**
- A Foreign Key is a column or set of columns in one table that refers to the Primary Key in another table.
- It establishes a relationship between the tables, known as a parent-child relationship.
- Foreign Keys ensure referential integrity, meaning that values in the referencing table (child table) must match values in the referenced table (parent table).
- Foreign Keys can have duplicate values and NULL values, but they must match a Primary Key value in the referenced table.
- Foreign Keys are defined when creating or altering a table, specifying the relationship between the tables using the REFERENCES keyword.
- Examples of Foreign Keys include customer IDs in an orders table, department IDs in an employees table referencing a departments table, etc.

In summary, Primary Keys uniquely identify records within a table, while Foreign Keys establish relationships between tables by referencing Primary Keys in other tables. These keys play a crucial role in maintaining data integrity and ensuring consistency in relational databases.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans: To connect Python to MySQL, you can use the `mysql-connector-python` library, which provides an interface for connecting to MySQL databases from Python. First, you need to install the library using pip:

```bash
pip install mysql-connector-python
```

Once installed, you can use the following Python code to connect to MySQL and execute SQL queries:

```python
import mysql.connector

# Establishing a connection to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# Example 1: Execute a SELECT query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching results
result = cursor.fetchall()
for row in result:
    print(row)

# Example 2: Execute an INSERT query
insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
data = ("value1", "value2")
cursor.execute(insert_query, data)

# Committing the transaction
conn.commit()

# Closing the cursor and connection
cursor.close()
conn.close()
```

Explanation:
- `mysql.connector.connect()`: This function establishes a connection to the MySQL database server. You need to provide the hostname, username, password, and database name as parameters.
- `cursor()`: The `cursor()` method creates a cursor object that allows you to execute SQL queries on the database.
- `execute()`: The `execute()` method is used to execute SQL queries. It takes two parameters: the SQL query and optional parameters to be passed to the query. For parameterized queries, you can use `%s` as a placeholder for values.
- `fetchall()`: After executing a SELECT query, the `fetchall()` method is used to fetch all the rows returned by the query.
- `commit()`: After executing data manipulation queries like INSERT, UPDATE, DELETE, etc., the `commit()` method is used to commit the transaction and make the changes permanent in the database.
- `close()`: Finally, the `close()` method is called on both the cursor and the connection objects to close the connection to the database server. It's important to close the cursor and connection when you're done with them to release resources and avoid memory leaks.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: In SQL, the order of execution of clauses in an SQL query generally follows the sequence below:

1. **FROM**: Specifies the table or tables from which to retrieve data.
2. **WHERE**: Filters rows based on specified conditions.
3. **GROUP BY**: Groups rows that have the same values into summary rows.
4. **HAVING**: Filters group rows that are returned by a GROUP BY clause based on specified conditions.
5. **SELECT**: Retrieves specific columns from the tables specified in the FROM clause.
6. **DISTINCT**: Filters out duplicate rows from the result set.
7. **ORDER BY**: Sorts the result set based on specified columns and sort order.
8. **LIMIT/OFFSET**: Limits the number of rows returned or specifies the starting row for the result set.

It's important to note that not all queries will use all of these clauses, and the order may vary depending on the specific requirements of the query. However, this is a typical order of execution for a standard SQL query.